@import "tailwindcss";

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Better scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(212, 19, 19, 0.5);
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: rgba(222, 21, 21, 0.5);
}
